





#rt-header #jf_undermenu .serch-main .loin-btn .cd-user-modal{display:none;}



.loin-btn a{ 
	border-right: 1px solid #fff;
color: #fff; 
float: left;
font-size: 20px;
margin-right: 16px;
padding-right: 13px;
vertical-align: middle;
}


.choice_separator span{background: #fff none repeat scroll 0 0;
color: #333;
display: inline-block;
font-size: 21px;
height: auto;
line-height: normal;
margin: -32px 0 -30px;
padding: 0 23px;
position: relative;}
 

.choice_separator{
border-bottom: 1px solid #b4b4b4;
height: auto;
line-height: 1px;
margin: 0 auto;
text-align: center;
width: 88%;
}
.allicontopprofle {
  position: relative;
}
.allicontopprofle .user_login_menus {
  margin: -7px 0 0;
}
.loin-btn .user_login_menus .user_profile_pic {
  list-style: outside none none;
}
.loin-btn .user_login_menus .user_profile_pic a {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.loin-btn .user_login_menus .user_profile_pic a img {
  float: left;
  height: 45px;
  margin-right: 4px;
  width: 47px;
}
.loin-btn .user_login_menus .user_profile_pic a label {
  /*background: rgba(0, 0, 0, 0) url("user_arrow.png") no-repeat scroll right center;
cursor: pointer;
display: table-cell;
font-family: "Trebuchet MS";
font-size: 17px;
height: 43px;
line-height: normal;
margin-top: 0;
padding-left: 8px;
padding-right: 22px;
vertical-align: middle;
width: 154px;*/
background: rgba(0, 0, 0, 0) url("user_arrow.png") no-repeat scroll right center;
cursor: pointer;
display: inline-block;
font-family: "Trebuchet MS";
font-size: 19px;
line-height: normal;
margin-top: 11px;
padding-left: 8px;
padding-right: 27px;
vertical-align: middle;





}

#jf_undermenu .rt-block .allicontopprofle .profilediv{ top: 50px;}

#jf_undermenu .rt-block .caping_login i{display:none;}
/*#jf_undermenu{text-align: right;
width: 243px;}*/

#jf_undermenu .rt-block .caping_login nav.main-nav{float:left;}
#jf_undermenu .rt-block .main-logindivnew .caping_login{   margin: 5px 0 0;}

#jf_undermenu .rt-block .caping_login .main-nav p{margin:0;}



#jf_undermenu .rt-block .caping_login .main-nav p a.cd-signin{padding:0; margin:0; border:0;}



.allicontopprofle .profilediv {
  background: #333 none repeat scroll 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 63px;
  width: 221px;
  z-index: 999999;
  }
.allicontopprofle .profilediv ul li::before {
  background: #ff4431 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 100%;
  transition-duration: 0.3s;
  transition-property: right;
  transition-timing-function: ease-out;
  z-index: -1;
}
.allicontopprofle .profilediv ul li {
  backface-visibility: hidden;
  border-bottom: 1px solid #171717;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  float: left;
  list-style: outside none none;
  overflow: hidden;
  padding: 7px 0;
  position: relative;
  transform: translateZ(0px);
  vertical-align: middle;
  width: 100%;
}
.allicontopprofle .profilediv ul li a {
  border: 0 none;
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.allicontopprofle .profilediv ul li a i {
  float: left;
  font-size: 20px;
  margin-left: 13px;
  width: 32px;
}
.allicontopprofle .profilediv ul li:last-child {
  border-bottom: 0 none;
}
.allicontopprofle .profilediv ul li:last-child input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-size: 18px;
  text-transform: capitalize;
}
.allicontopprofle .profilediv ul li a:hover {
  color: #ff4431;
}
.allicontopprofle .profilediv ul li:hover::before {
  right: 0;
}
/*.allicontopprofle .profilediv ul li:hover a i::before {
  font-family: FontAwesome;
 
  position: absolute;
 
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}
.allicontopprofle .profilediv ul li:hover a i {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
 
  position: relative;
  transform: translateZ(0px);
  vertical-align: middle;
}*/

.allicontopprofle .profilediv ul li a:hover i {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
 
}
.allicontopprofle .profilediv ul li a:hover i:before {
 
  position: absolute;
   font-family: FontAwesome;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.allicontopprofle .profilediv ul li a:hover i:hover:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}














span.facebookslogin{background:url("facebook_login_logo.png") no-repeat scroll center 0 !important;
height: 39px !important;
opacity: 1 !important;
width: auto !important;}
.facebookdvi .slogin-buttons a{border: 0 none !important;
display: inline-block !important;
float: none;
height: auto !important;
line-height: normal !important;
margin: 0 22px !important;
padding: 0 !important;
width: auto;}


.facebookdvi .slogin-buttons a spamn{font-size:77px;}

	.facebookdvi .slogin-buttons a span{background:none !important;  width: auto;}	
	.facebookdvi .slogin-buttons a span.facebookslogin{color:#3e598b;}	
	.facebookdvi .slogin-buttons a span.googleslogin{color:#da2e36;}	
	.facebookdvi .slogin-buttons a span.twitterslogin{color:#5fa4b8;}
	
	
	.facebookdvi .slogin-buttons a span.facebookslogin:hover{color:#2d4679;}	
	.facebookdvi .slogin-buttons a span.googleslogin:hover{color:#c41821;}	
	.facebookdvi .slogin-buttons a span.twitterslogin:hover{color:#458da3;}	
	
	
	
	
	
	
	
	
	
		
		
		
		.maindivloginii ul.login_uls li.subdivn input{float: left;
height: auto;
margin: 3px 10px 0 0;
width: auto !important;}
		
	.maindivloginii ul.login_uls li.subdivn{text-align:left; }	
	
	.maindivloginii ul.login_uls li.jlatfj .custom-checkbox1{  display: inline-block;}
	.maindivloginii ul.login_uls li.jlatfj .custom-checkbox1 input{height: auto;
line-height: normal;
margin: 0 7px 0 0;
width: auto !important;}
	
	.maindivloginii ul.login_uls li a{cursor: pointer; color:#333;  font-size: 17px;
text-decoration: none;}
.tobtodimdiv a{color: #25a8fc;
cursor: pointer;
margin-left: 7px;}
	.maindivloginii ul.login_uls li input#submit_register{
		
		background: #ff4432 none repeat scroll 0 0;
border: 0 none;
border-radius: 6px;
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
color: hsl(0, 0%, 100%);
cursor: pointer;
display: inline-block;
font-size: 24px;
font-weight: bold;
height: 55px;
line-height: 55px;
padding: 0;
width: 100% !important;

display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;


}
.maindivloginii ul.login_uls li.jlatfj{    font-size: 20px;}
.maindivloginii ul.login_uls li.jlatfj span a{border: 0 none !important;
color: #1aa2cf !important;
font-family: arial !important;
font-size: 20px !important;
font-weight: normal !important;
margin: 0 !important;
padding: 0 !important;
text-decoration: underline !important;}
.maindivloginii ul.login_uls li.jlatfj span a:hover{color:#ff4432 !important;}



.maindivloginii ul.login_uls li input#submit_register:hover{ -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow; background:#777;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;}
.facebookdvi .slogin-buttons a:last-child:hover{background:#2cbcf5;}

.cd-user-modal-container #cd-reset-password{    float: left;
}
.cd-user-modal-container #cd-reset-password p.cd-form-message{background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
color: hsl(204, 50%, 54%);
float: none;
font-size: 23px;
  margin: 12px 0 !important;
padding: 0;
text-align: center;
width: auto;}






.cd-user-modal-container #cd-reset-password #user-registration .tobtodimdiv ul{padding:0; margin:0;}
.cd-user-modal-container #cd-reset-password #user-registration .tobtodimdiv ul li{list-style:none;}

.cd-user-modal-container #cd-reset-password #user-registration p.fieldset{background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
display: inline-block;
padding: 0;
width: 100%;}
.cd-user-modal-container #cd-reset-password #user-registration p.fieldset input{background: hsl(0, 0%, 100%) none repeat scroll 0 0;
border: 1px solid hsl(0, 0%, 85%);
border-radius: 4px;
height: 37px;
line-height: 34px;
list-style: outside none none;
padding: 0 0 0 18px;
width: 75% !important;}
.cd-user-modal-container #cd-reset-password #user-registration p.fieldset input[type="submit"]{-moz-appearance: none;
background: hsl(204, 50%, 54%) none repeat scroll 0 0;
border: 0 none;
border-radius: 4px;
color: hsl(0, 0%, 100%);
cursor: pointer;
font-weight: bold;
height: 42px;
line-height: 42px;
margin: 15px 0 0;
padding: 0;
transition: all 0.3s ease-in 0s;
width: 46% !important;}
.cd-user-modal-container #cd-reset-password #user-registration p.fieldset input[type="submit"]:hover{background:#3e3e3e;}






.cd-user-modal-container #cd-reset-password #user-registration .tobtodimdiv{display: inline-block;
width: 100%;}
.cd-user-modal-container #cd-reset-password #user-registration{background: hsl(0, 0%, 95%) none repeat scroll 0 0;
border-bottom: 0 none;
border-left: 0 none;
border-right: 0 none;
border-top: 1px solid hsl(0, 0%, 85%) !important;
box-shadow: none;
padding: 16px 0 0;
text-align: center;}
		
		
	.is-selected .form-validate.well{background:#fff; padding:0 !important;  margin:0;}	
		
		.maindivloginii {float: left;
position: relative;
text-align: center;
width: 100%;
}
.tobtodimdiv a.cd-signin-login-form{border: 0 none !important;
color: #1aa2cf !important;
font-family: arial !important;
font-size: 20px !important;
font-weight: normal !important;
padding: 0 !important;
text-decoration: underline;}

.tobtodimdiv a.cd-signin-login-form:hover{color:#ff4432 !important;}



.tobtodimdiv{background: #edebeb none repeat scroll 0 0;
color: #7a7878;
float: left;
font-size: 20px;
height: 74px;
line-height: 74px;
margin: 11px 0 0;
width: 100%;}
.maindivloginii ul.login_uls{margin: 32px 35px 0;
padding: 0;}


#rt-mainbody .maindivloginii ul.login_uls{margin: 32px 35px 27px;
padding: 0;}


.maindivloginii ul.login_uls li input{background: hsl(0, 0%, 100%) none repeat scroll 0 0;
border: 1px solid #cccccc;
border-radius: 4px;
color: #333;
font-size: 17px;
height: 40px;
line-height: 40px;
list-style: outside none none;
padding: 0 0 0 41px;
width: 92% !important;}

.maindivloginii ul.login_uls li:first-child{float:left; width:50%;}

.maindivloginii ul.login_uls li:nth-child(2){float:right; width:50%;}

.maindivloginii ul.login_uls li:first-child input{float: left;
width: 95% !important;}

.maindivloginii ul.login_uls li:nth-child(2) input{ float: left;
    width: 100% !important;}

.maindivloginii ul.login_uls li.towdivn span.cd-form-bottom-remember{color: #ff4432;
    float: left;
    font-size: 17px;}

#rt-mainbody .maindivloginii ul.login_uls li:first-child input{ width: 77% !important;}

#rt-mainbody .maindivloginii ul.login_uls li:nth-child(2) input{ width:83% !important;}

#rt-mainbody .is-selected .greetingtext{   margin: 37px 0 38px;}

#rt-mainbody .facebookdvi .slogin-buttons a{    margin: 0 32px !important;}
#jf_undermenu .rt-block .main-logindivnew .caping_login a{display:none;}
#jf_undermenu .rt-block .main-logindivnew .caping_login .main-nav p.cd-switcher a.cd-signin{display:block;}

.maindivloginii ul.login_uls li.towdivn span.cd-form-bottom-message{float:right;}



.maindivloginii ul.login_uls li.dateofbirth label.image-replace{color: #555454;
float: left;  text-align: left;
font-size: 17px; width:100%;
left: auto;
margin-bottom: 8px;
position: relative;
top: auto;}

.maindivloginii ul.login_uls li.dateofbirth select{float: left;
margin-right: 10px;
min-width: auto;
width: 30%;}




.maindivloginii ul.login_uls li{display: inline-block;
list-style: outside none none;  float: left;
margin-bottom: 14px;
position: relative;
width: 100%;}
.maindivloginii ul.login_uls li label{color: #ff4432;
font-size: 20px;
left: 14px;
position: absolute;
top: 12px;}
.maindivloginii ul.login_uls li.dateofbirth i{color: #ff4432;
float: left;  cursor: pointer;
font-size: 22px;
margin: 10px 0 0;}

.maindivloginii ul.login_uls li.dateofbirth span.regnote{box-sizing: border-box;
color: #333;
float: left;
font-size: 13px;
margin: 11px 0 0;
padding: 0;
text-align: left;
transition: all 0.5s ease 0s;
width: 100%;
z-index: 99999;}
.maindivloginii ul.login_uls li.dateofbirth span.regnote a{border: 0 none !important;
margin: 0 0 0 5px !important;    color: #ff4432 !important;
padding: 0 !important;
text-decoration: underline !important;}

/*.maindivloginii ul.login_uls li.dateofbirth span.regnote::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ff4432 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 1.25rem;
  bottom: -28px;
  box-sizing: border-box;
  content: "";
  height: 1.25rem;
  right: 1%;
  margin-left: -1.25rem;
  position: absolute;
  width: 1.25rem;
}
*/










.maindivloginii ul.login_uls li select{ background: #efecec url(selectarrow.png) right 0 no-repeat;
    border: 1px solid #838383;
    border-radius: 4px;
    color: #434242;
      font-size: 21px;
    height: 45px;
    line-height: 45px;
    
    padding: 0 10px;
    width: 100%;
 
 
 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   _noFocusLine: expression(this.hideFocus=true); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
     -khtml-opacity: 0;
      -moz-opacity: 0; 

   color:#434242;}




		

		   
	   
	   
	   
	   
	 
	
		
		
		
		
	

.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  z-index: 99999;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.facebookdvi .slogin-buttons{float: left;
text-align: center;
width: 100%;}
.is-selected .greetingtext p{color: #7a7878;
font-family: arial;
font-size: 32px;
font-weight: normal;
margin: 30px 0 0;}
.is-selected .greetingtext{color: #000;
display: inline-block;
font-family: "Trebuchet MS";
font-size: 43px;
font-weight: bold;
margin: 17px 0 23px;
text-align: center;
width: 100%;}
.is-selected .facebookdvi{ float: left;
   margin: 0 12px 31px;
width: 96%;}
.facebookdvi .slogin-buttons a span{background:none !important; height:auto !important; font-size:55px !important;}
.facebookdvi .slogin-buttons a:hover{background:none !important;}
.facebookdvi .slogin-buttons a:hover span{background:none !important;}

.cd-user-modal-container {
 background: #fff none repeat scroll 0 0;
border-radius: 4px;
box-shadow: 0 0 18px #777;
cursor: auto;
display: table;
margin: 5em auto 0;
max-width: 580px;
position: relative;

 
 
 
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 100%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  /*border-radius: .25em 0 0 0;*/
}
.cd-user-modal-container .cd-switcher li:last-child a {
 /* border-radius: 0 .25em 0 0;*/
}
.cd-user-modal-container .cd-switcher a {
  background: #d2d8d8 none repeat scroll 0 0;
border-bottom: 1px solid #ccc;
color: #809191;
display: none;
height: 50px;
line-height: 50px;
margin: 0 auto;
width: 100%;
}






@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}


.maindivloginii ul.login_uls input.login-bg{

background: #ff4432 none repeat scroll 0 0;
border: 0 none;
border-radius: 5px;
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
color: hsl(0, 0%, 100%);
cursor: pointer;
display: inline-block;
font-size: 19px;
font-weight: normal;
height: 47px;
line-height: 44px;
padding: 0 47px;


	
display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.maindivloginii ul.login_uls input.login-bg:hover {
	
	background:#333;
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


























.maindivloginii ul.login_uls li.towdivn span.cd-form-bottom-remember input{float: left;
height: auto;
margin: 3px 10px 0 0;
width: auto !important;}
.cd-close-form {
  background: rgba(0, 0, 0, 0) url("closeicon.png") no-repeat scroll center center;
color: #000;
display: block;
height: 19px;
overflow: visible;
position: absolute !important;
right: 7px;
text-indent: -9999px;
top: 6px !important;
white-space: nowrap;
width: 19px;
}


@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: block;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

.btn_logout
{
	 background-color: #ffffff !important;
border: 0 solid #cccccc !important;
box-shadow: none !important;
color: #000;
display: block; transition:all 0.3s ease-in 0s;
height: 40px;
line-height: 40px;
padding: 0;
width: 100%;
}



.btn_logout:hover
{
	 background-color: #333 !important;
	 color:#fff;
	  border: 0px solid #CCCCCC !important;
}

.maindivloginii ul.login_uls li .errorsp{color: red;
display: block;
float: left;
font-size: 17px;
margin:0;
text-align: center;
width: 100%;}


/***********************************************************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 1249px) {}
 
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
	 
	 
 }

@media only screen and (min-width: 768px) and (max-width: 959px) {
.maindivloginii ul.login_uls {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  display: block !important;
  margin: 32px 17px 0;
  padding: 0;   width: auto !important;
  position: relative !important;
  top: auto !important;
}
.maindivloginii ul.login_uls li{margin-right:0 !important;}
.maindivloginii ul.login_uls input.login-bg{margin-bottom:14px !important; }	
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	

.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus li{  margin-right: 0;}
.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus li a img{float: left;
height: 46px;
margin-right: 14px;}





.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus li a label{
	background: rgba(0, 0, 0, 0) url("user_arrow.png") no-repeat scroll right center;
cursor: pointer;
display: table-cell;
float: right;
font-family: "Trebuchet MS";
font-size: 17px;
height: 43px;
line-height: 43px;
margin-top: 0;
padding-left: 8px;
padding-right: 42px;
vertical-align: middle;
width: auto;}

.clearfix ul.clearfix li.serch-main-res .allicontopprofle .profilediv ul{background:#333; margin:0;}
.clearfix ul.clearfix li.serch-main-res .allicontopprofle .profilediv{margin:0; right:auto;   width: 100%;}
.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus{  margin: 0;}	
	
	
	
	
	
	
	
	
	
	
.maindivloginii ul.login_uls li.dateofbirth select{ width: 29%;}
.maindivloginii ul.login_uls {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  display: block !important;
  margin: 32px 17px 0;
  padding: 0;   width: auto !important;
  position: relative !important;
  top: auto !important;
}
.maindivloginii ul.login_uls li{margin-right:0 !important;}
.maindivloginii ul.login_uls input.login-bg{margin-bottom:14px !important; }


.allicontopprofle .user_login_menus {
 
  margin: -7px 0 0;
}

}

@media only screen and (max-width: 480px) {
/*.loin-btn .user_login_menus .user_profile_pic a label {
  width: 72px;
}*/	
	
	.loin-btn .user_login_menus .user_profile_pic a img {
float: left;
height: 42px;
margin-right: 0;
margin-top: 2px;
width: 42px;
}
.loin-btn .user_login_menus .user_profile_pic a label{ width: 72px;}

.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus li{  margin-right: 0;}
.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus li a img{float: left;
height: 46px;
margin-right: 14px;}





.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus li a label{
	background: rgba(0, 0, 0, 0) url("user_arrow.png") no-repeat scroll right center;
cursor: pointer;
display: table-cell;
float: right;
font-family: "Trebuchet MS";
font-size: 17px;
height: 43px;
line-height: 43px;
margin-top: 0;
padding-left: 8px;
padding-right: 42px;
vertical-align: middle;
width: auto;}

.clearfix ul.menu.clearfix li{margin:0;}

.clearfix ul.clearfix li.serch-main-res .allicontopprofle .profilediv ul{background:#333; margin:0;}
.clearfix ul.clearfix li.serch-main-res .allicontopprofle .profilediv{margin:0; right:auto;   width: 100%;}
.clearfix ul.clearfix li.serch-main-res .allicontopprofle ul.user_login_menus{  margin: 0;}


	
	
	.allicontopprofle .profilediv{  right: -8px;}
	
.allicontopprofle .user_login_menus {
 margin: -14px -3px 0;
}	
#rt-mainbody .maindivloginii ul.login_uls li:first-child input {
  width: 85% !important;
}
#rt-mainbody .maindivloginii ul.login_uls li:nth-child(2) input {
  width: 85% !important;
}

#rt-mainbody .facebookdvi .slogin-buttons a {
  margin: 0 15px !important;
}	
	
	
.maindivloginii ul.login_uls {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  display: block !important;
  margin: 32px 17px 0;
  padding: 0;   width: auto !important;
  position: relative !important;
  top: auto !important;
}	
.maindivloginii ul.login_uls li{margin-right:0 !important;}	
.maindivloginii ul.login_uls li a{font-size:15px;}
	
	
	

	
.facebookdvi a:first-child{  margin: 0 15px 0 82px;}
.is-selected .greetingtext{   font-size: 33px;}
.is-selected .greetingtext p{ font-size: 26px;
    font-weight: normal;
    margin: 17px 0 0;}
	.facebookdvi .slogin-buttons a{ margin: 0 7px !important;}
	.maindivloginii ul.login_uls {
  display: inline-block;
  margin: 32px 17px 0;
  padding: 0;
}
.maindivloginii ul.login_uls li:first-child {
  float: left;
  width: 100%;
}
.maindivloginii ul.login_uls li:nth-child(2) {
  float: right;
  width: 100%;
}
.maindivloginii ul.login_uls li:first-child input {
  float: left;
  width: 100% !important;
}
.maindivloginii ul.login_uls li input{  width: 85% !important; margin-bottom:12px;}
.maindivloginii ul.login_uls li:nth-child(2) input {
  float: left;
  width: 100% !important;
}
.maindivloginii ul.login_uls li.towdivn{ margin-bottom: 15px;}
#rt-mainbody .maindivloginii ul.login_uls {
  margin: 32px 25px 27px;
  padding: 0;
}

#rt-mainbody .cd-user-modal .maindivloginii ul.login_uls li input{margin-bottom:0;}
.maindivloginii ul.login_uls li.dateofbirth select {
  float: left;
  margin-bottom: 10px;
  margin-right: 0;
  min-width: auto;
  width: 100%;
}
}

