.view-users{
    #fd.es{
        .es-container {
            .es-sidebar{
                border-right: 0px;
                .es-widget-head{
                    border-bottom: 0px;
                    #dowalo-mix .dow-gradientborder();
                }
            }
            .es-content{
                .es-item {
                    background: #fff;

                    .muted {
                        color: #716f6f;
                    }

                }
            }
        }
    }
}